main {
	position: relative;
	left: 280px;
	max-width: calc(100% - 280px);
	padding: 20px 30px;
	transition: all 0.3s;
	z-index: -2;
	h1 {
		color: #fff;
	}
}
.dash-content {
	margin-top: 20px;
	overflow: auto;
	.boxes {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		.box {
			display: flex;
			align-items: center;
			flex: 1;
			padding: 35px 30px;
			background-color: var(--section_color);
			backdrop-filter: blur(2px);
			border-radius: 12px;
			color: #fff;
			transition: all 0.3s;
			.box-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 46px;
				height: 46px;
				border-radius: 50%;
				margin-right: 20px;
				font-size: 40px;
			}
			&.box1 .box-icon  {
				background-color: var(--purple) !important;
			}
			&.box2 .box-icon  {
				background-color: var(--blue) !important;
			}
			&.box3 .box-icon  {
				background-color: var(--pink) !important;
			}
			.box-info {
				display: flex;
				flex-direction: column;
				gap: 5px;
				white-space: nowrap;
				.box-count {
					font-size: 22px;
					color: #fff;
				}
				.box-title {
					font-size: 14px;
					color: var(--grey-text);
				}
			}
		}		
	}
	.activity-data {
		display: flex;
		margin-top: 10px;
		background-color: var(--section_color);
		backdrop-filter: blur(2px);
		border-radius: 12px;
		color: #fff;
		overflow: auto;
		transition: all 0.3s;
		.data-names {
			display: flex;
			flex-direction: column;
			flex: 1;
			span {
				margin-bottom: 2px;
				padding: 15px 10px;
				padding-left: 15px;
			}
			.name-value {
				display: flex;
				align-items: center;
				gap: 10px;
				max-height: 55px;
				padding: 10px 15px;
				padding-right: 40px;
				border-top: 2px solid var(--section-border_color);
				.avatar {
					display: flex;
					justify-content: center;
					width: 36px;
					height: 36px;
					background-color: #fff;
					border-radius: 50%;
					overflow: hidden;
				}
				.title {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 3px;
					.name {
						font-size: 14px;
					}
					.email {
						color: var(--grey-text);
						font-size: 12px;
					}
				}
			}
		}
		.data-title {
			display: flex;
			flex-direction: column;
			flex: 1;
			span {
				margin-bottom: 2px;
				padding: 15px 10px;
				padding-left: 15px;

			}
			.name-value {
				display: flex;
				align-items: center;
				gap: 10px;
				max-height: 55px;
				padding: 10px 15px;
				padding-right: 40px;
				border-top: 2px solid var(--section-border_color);
				.title {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 3px;
					.activity {
						white-space: nowrap;
						font-size: 14px;
					}
					.area {
						color: var(--grey-text);
						font-size: 12px;
					}
				}
			}
		}
		.data-status {
			display: flex;
			align-items: center;
			flex-direction: column;
			flex: 1;
			span {
				margin-bottom: 2px;
				padding: 15px 15px;
			}
			.name-value {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				height: 55px;
				width: 100%;
				padding: 10px;
				// padding-right: 40px;
				border-top: 2px solid var(--section-border_color);
				.status {
					padding: 5px 10px;
					border-radius: 30px;
					font-size: 14px;
				}
				[data-status="active"] {
					background-color: var(--active_color);
				}
				[data-status="inactive"] {
					background-color: var(--inactive_color);
				}
			}
		}
		.data-role {
			display: flex;
			flex-direction: column;
			flex: 1;
			span {
				margin-bottom: 2px;
				padding: 15px 10px;
			}
			.role {
				display: flex;
				align-items: center;
				gap: 10px;
				height: 55px;
				padding: 10px;
				padding-right: 40px;
				border-top: 2px solid var(--section-border_color);
				font-size: 14px;
				color: var(--grey-text);
			}
		}
	}
}
main.close {
	max-width: calc(100% - 73px);
	left: 96px !important;
}