@media (max-width: 1130px) {
	.sidebar {
		$close: true;
		width: 96px !important;
		padding: 40px 20px !important;
		.sidebar-toggle {
			opacity: 0;
			pointer-events: none;
		}
		@if $close == true {
			.nav-name {
				opacity: 0;
				pointer-events: none;
			}
		}
		.upload_image {
			align-items: center;
			justify-content: right;
			flex-direction: column;		
			top: -20px;
			border: 2px dashed transparent;
			height: 52px;
			margin-bottom: 0px;
			&:hover {
				background-color: transparent;
			}
			&:active {
				background-color: transparent;
			}
			p {
				opacity: 0;
			}
			&:hover img{
				filter: brightness(80%);
			}
			&:active img{
				filter: brightness(60%);
			}
		}
		.color-mode {
			display: none;
		}
		.color-mode__close {
			display: flex;
		}
	}
	.header {
		left: 96px !important;
		max-width: calc(100% - 96px) !important;
	}
	.main {
		max-width: calc(100% - 96px);
		left: 96px !important;
	}
}
// @media (max-width: 885px) {
// 	.main {
// 		.box {
// 			min-width: calc(100% / 2 - 20px) !important;
// 		}
// 	}
// }
// @media (max-width: 752px) {
// 	.main {
// 		.box {
// 			min-width: calc(100% - 20px) !important;
// 		}
// 	}
// }